@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

@import "tailwindcss";

:root {
  --background-rgb: 2, 6, 23; /* Equivalent to bg-slate-950 */
  --foreground-rgb: 255, 255, 255;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: Arial, Helvetica, sans-serif;
}

.glass-card {
  @apply bg-white/5 dark:bg-black/10 backdrop-blur-lg rounded-xl shadow-lg border border-white/10;
}
